@font-face {
  font-family: 'Rubik';
  src: local('Rubik Light'), local('Rubik-Light'), url('../fonts/rubik/Rubik-Light.woff2') format('woff2'), url('../fonts/rubik/Rubik-Light.woff') format('woff'), url('../fonts/rubik/Rubik-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik Light Italic'), local('Rubik-LightItalic'), url('../fonts/rubik/Rubik-Light.woff2') format('woff2'), url('../fonts/rubik/Rubik-Light.woff') format('woff'), url('../fonts/rubik/Rubik-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
    font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik Normal'), local('Rubik-Normal'), url('../fonts/rubik/Rubik-Regular.woff2') format('woff2'), url('../fonts/rubik/Rubik-Regular.woff') format('woff'), url('../fonts/rubik/Rubik-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik Italic'), local('Rubik-Italic'), url('../fonts/rubik/Rubik-Regular.woff2') format('woff2'), url('../fonts/rubik/Rubik-Regular.woff') format('woff'), url('../fonts/rubik/Rubik-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}



@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), local('Rubik-Regular'), url('../fonts/rubik/Rubik.woff2') format('woff2'), url('../fonts/rubik/Rubik.woff') format('woff'), url('../fonts/rubik/Rubik.ttf') format('truetype');
  font-weight: 450;
  font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik Italic'), local('Rubik-Italic'), url('../fonts/rubik/Rubikitalic.woff2') format('woff2'), url('../fonts/rubik/Rubikitalic.woff') format('woff'), url('../fonts/rubik/Rubikitalic.ttf') format('truetype');
  font-weight: 450;
  font-style: italic;
    font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik Medium'), local('Rubik-Medium'), url('../fonts/rubik/Rubik-Medium.woff2') format('woff2'), url('../fonts/rubik/Rubik-Medium.woff') format('woff'), url('../fonts/rubik/Rubik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik Medium Italic'), local('Rubik-Medium-Italic'), url('../fonts/rubik/Rubikmediumitalic.woff2') format('woff2'), url('../fonts/rubik/Rubikmediumitalic.woff') format('woff'), url('../fonts/rubik/Rubikmediumitalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik Medium'), local('Rubik-Medium'), url('../fonts/rubik/Rubikmedium.woff2') format('woff2'), url('../fonts/rubik/Rubikmedium.woff') format('woff'), url('../fonts/rubik/Rubikmedium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
    font-display: swap;
}


@font-face {
  font-family: 'Rubik';
  src: local('Rubik Medium Italic'), local('Rubik-MediumItalic'), url('../fonts/rubik/Rubikmediumitalic.woff2') format('woff2'), url('../fonts/rubik/Rubikmediumitalic.woff') format('woff'), url('../fonts/rubik/Rubikmediumitalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
    font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik Bold'), local('Rubik-Bold'), url('../fonts/rubik/Rubikbold.woff2') format('woff2'), url('../fonts/rubik/Rubikbold.woff') format('woff'), url('../fonts/rubik/Rubikbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik Bold Italic'), local('Rubik-BoldItalic'), url('../fonts/rubik/Rubikbolditalic.woff2') format('woff2'), url('../fonts/rubik/Rubikbolditalic.woff') format('woff'), url('../fonts/rubik/Rubikbolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
    font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik Black'), local('Rubik-Black'), url('../fonts/rubik/Rubikblack.woff2') format('woff2'), url('../fonts/rubik/Rubikblack.woff') format('woff'), url('../fonts/rubik/Rubikblack.ttf') format('truetype');
  font-weight: 900;
    font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik Black Italic'), local('Rubik-BlackItalic'), url('../fonts/rubik/Rubikblackitalic.woff2') format('woff2'), url('../fonts/rubik/Rubikblackitalic.woff') format('woff'), url('../fonts/rubik/Rubikblackitalic.ttf') format('truetype');
  font-weight: 900;
    font-display: swap;
  font-style: italic;
}
