.par-header {
    padding-top: 0;
}


form[name="parametersForm"] {
    max-width: calc(1140px + 112px);
    display: block;
    margin: 0 auto;
    padding-top: 40px;
}

#parameters {
    max-width: 100%;
    margin: auto;
}

#rates-wrapper {
    display: block;
    width: 1140px;
    margin: 0 auto;
}

@media screen and (min-width: 550px) and (max-width: 1200px) {

    #rates-wrapper {
        width: 100%;
    }

    #chkbox-options {
        margin-left: 20px;
        width: calc(100% - 40px);
    }

    .rate {
        width: auto;
    }

    #all-rates {
        max-width: 100%;
    }
    #cta-buttons-wrapper {
        width: 790px;
        max-width: 100%;
    }
}

@media screen and (max-width: 550px) {
    form[name="parametersForm"] {
        padding-top: 40px;
    }


    #rates {
        max-width: 100%;
    }

    #rates-wrapper {
        width: 100%;
    }

    #cta-buttons-wrapper, .rates-details {

    }

    #cta-buttons-container {
        max-width: 100%;
        padding: 0 15px;
    }

    .cta-button {
        padding: 10px 0;
    }

    .btn-cta1, .btn-cta2 {
        width: 100%;
        margin: 0 auto;
    }

    span.btn-apply, span.btn-view {
        min-width: 100%;
    }

    .rate {
        width: 100%;
    }
}